<template>
  <div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
      <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">DataTable</span>
      <span class="defaultText dispTable">
        DataTable has 3 initialization modes; local, remote eager and remote lazy.
        Data type should be a array of JSON objects for all cases. In local mode, data is represented as a local variable,
        in remote eager mode, datasource is a function to fetch the data only once from the server and in remote
        lazy mode datasource function is called whenever necessary such as initialization, paging, sorting and filtering.
      </span>
    </div>
  </div>

  <div class="ContentSideSections Implementation">
   <p-datatable value.bind="cars" columns.bind="cols" paginator.bind="true" page-links="2"  rows="2" responsive.bind="true">
       <template replace-part="header">List of Cars</template>
       </p-datatable>
  </div>

  <div class="ContentSideSections Source">
  </div>
</template>
