<template>
    <div class="ContentSideSections">
        <div class="Content100 overHidden TextShadow">
            <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">DataTable</span>
            <span class="defaultText dispTable">Columns can be reordered using drag drop by setting the reorderableColumns to true. onColReorder is a callback that is invoked when a column is reordered.</span>
        </div>
    </div>

    <div class="ContentSideSections Implementation">
        <p-datatable value.bind="cars" columns.bind="cols" reorderable-columns.bind="true"></p-datatable>
    </div>

    <div class="ContentSideSections Source">
    </div>
</template>