<template>
  <div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
      <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">DataTable</span>
      <span class="defaultText dispTable">Datatable is whatever</span>
    </div>
  </div>

  <div class="ContentSideSections Implementation">
    <p-datatable columns.bind="columns" datasource.bind="datasource" caption="Table Header">
    </p-datatable>
  </div>

  <div class="ContentSideSections Source">
  </div>
</template>
