<template>
  <div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
      <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">Growl</span>
      <span class="defaultText dispTable">Growl is an overlay messaging component.</span>
    </div>
  </div>

  <div class="ContentSideSections Implementation">
    <p-growl id="growl" life="3000"></p-growl>
    <button p-button click.delegate="sendAlert('growl')">SendAlert</button>
    </div>

    <div class="ContentSideSections Source">
    </div>
  </template>
